.wrapper {
	user-select: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	&.loading::before {
		content: 'Loading, please wait...';
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
}



